# Test

name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  linuxTest:
    name: Test on Linux
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Run testing script
      run: ./testing.sh

  macOsTest:
    name: Test on macOS
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v5

    - name: Install coreutils
      run: brew install coreutils

    - name: Run testing script on macOS
      run: ./testing.sh

  FreeBSDTest:
    name: Test on FreeBSD
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Test in FreeBSD
      id: test
      uses: vmactions/freebsd-vm@v1
      with:
        usesh: true
        prepare: |
          pkg install -y bash
        run: |
          ./testing.sh